<!DOCTYPE html>
<html>
<head>
    <title>Criar Chamado</title>
</head>
<body>

<h1>Novo Chamado</h1>

<form method="POST">

    <input name="solicitante" placeholder="Solicitante"><br><br>
    <input name="titulo" placeholder="Título"><br><br>

    <textarea name="descricao" placeholder="Descrição"></textarea><br><br>

    <input name="prioridade" placeholder="Prioridade"><br><br>
    <input name="tecnico" placeholder="Técnico"><br><br>

    <button type="submit">Criar</button>

</form>

<br>
<a href="/chamados">Voltar</a>

</body>
</html>